.choose {
	&__container {
	}
	&__header {
		margin-bottom: 103px;
		@media (max-width: $md5+px) {
			margin-bottom: 50px;
		}
	}
	&__body{
	}
}
.menu-block {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	margin: 30px 235px 0px;
	gap: 30px;
	@media (max-width: $md2+px) {
		margin: 30px 109px 0px;
	}
	@media (max-width: $md3+px) {
		gap: 20px;
	}
	@media (max-width: $md4+px) {
		margin: 29px 31.5px 0px;
		gap: 10px;
	}
	&__item {
		padding: 4px 0px;
		font-size: 23px;
		font-weight: 700;
		line-height: 122%;
		color: $black;
		cursor: pointer;
		@media (max-width: $md4+px) {
			font-size: 20px;
		}
		@media (max-width: $md5+px) {
			padding: 0px 0px;
			font-size: 16px;
			line-height: 142%;
		}
		@media (any-hover: hover) {
			&:hover {
				border-bottom: 2px solid $black;
			}
		}
	}
}

._active {
	color: $orange200;
	border-bottom: 2px solid $orange200;
	@media (any-hover: hover) {
		&:hover {
			border-bottom: 2px solid $orange200;
		}
	}
}

.body-choose {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
	@media (max-width: $md2+px) {
		gap: 18px;
	}
	&__item {
		position: relative;
		flex: 0 1 31.6%;
		overflow: hidden;
		border-radius: 50px;
		@media (max-width: $md2+px) {
			flex: 0 1 49%;
		}
		@media (max-width: $md3+px) {
			flex: 0 1 60%;
		}
		@media (max-width: $md5+px) {
			flex: 0 1 100%;
			border-radius: 20px;
		}
	}
	&__card {
		min-height: 531px;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.50) 100%);
		@media (max-width: $md5+px) {
			min-height: 318px;
		}
	}
}