@import "fonts";
@import "icons";

$minWidth: 320px;
$maxWidthContainer: 1200px;
$md2: 1280px;
$md3: 992px;
$md4: 767px;
$md5: 480px;


$black: #1B1F2B;
$white: #FFF;
$orange200: #EFA501;
$orange100: #F8E6BE;
$green400: #286562;
$green300: #3B7E7B;
$green200: #627F7E;
$green100: #E0F0E5;
$gray300: #A6A6A6;
$gray200: #D9DFDB;
$gray100: #F1F3F2;
$beige200: #F4F0E9;
$bgColor: #F9F7F4;

@import "null";

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

._container {
	max-width: $maxWidthContainer;
	padding: 0px 15px;
	margin: 0 auto;
	@media (max-width: $md2) {
		width: 100%;
		padding: 0px 5%;
	}
	@media (max-width: $md4) {
		padding: 0px 6%;
	}
}

@import "headers-blocks";
@import "card";

@import "header";
@import "page";
@import "main-block";
@import "choose";
@import "create";
@import "reviews";
@import "gallery";
@import "histories";
@import "bottom";
@import "footer";